/*pagina*/
body {
    margin: 0%;
    background-color: black;
    width: 100%;
    height: 100%;
}

/*header*/

#principal {
    position: absolute;
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 5%;
    background-color: rgb(0, 4, 66);  
    z-index: 4;
}

/*menu*/
/*Nosotros*/
#nosotros {
    padding-top: 5%;
    width: 100%;
    height: 155px;
    position: relative;
    top: 100%;
    border-top-color: rgb(204, 255, 0);
}
/*Fundador*/
#fundador {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    background-repeat: no-repeat;
    background-size: 96%;
    background-position-x: center;
    background-position-y: center;
}
#desarrollador {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0%;
    background-repeat: no-repeat;
    background-size: 96%;
    background-position-x: center;
    background-position-y: center;
    background-clip: border-box;
}
.ima{
    margin: 5%;
    border-radius: 100%;
    width: 100%;
    height: 100%;
}
#nano {
    position: relative;
    width: 90%;
    height: 75px;
    left: 5%;
    right: 5%;
    border-top: 0.1px solid yellow;
    border-left: 0.1px solid yellow;

}
#walter {
    position: relative;
    width: 90%;
    height: 75px;
    top: 5px;
    left: 5%;
    right: 5%;
    border-top: 0.1px solid yellow;
    border-left: 0.1px solid yellow;
}
#nan {
    position: relative;
    width: 22%;
    height: 100%;
    top: 0%;
}
#wal {
    position: relative;
    width: 22%;
    height: 100%;
    top: 0%;
}

/*ocultar y mostrar*/
#ocultar {
    width: 5%;
    height: 10%;
    position: absolute;
    left: 0%;
    top: 50%;
    font-size: 2vw;
    z-index: 4;
    background-color: black;
    color: white;
}

#mostra {
    width: 5%;
    height: 10%;
    position: absolute;
    left: 0%;
    top: 50%;
    font-size: 2vw;
    z-index: 4;
    background-color: black;
    color: white;
}

/*Cuenta*/
#imagen {
    width: 100%;
    height: 100%;
    left: 4%;
    top: 0%;
    position: absolute;
}
#user {
    padding: 0%;
    margin: 0%;
    background-color: white;
    position: absolute;
    margin: 0%;
    padding: 0%;
    border: none;
    width: 4%;
    height: 100%;

    left: 96%;
    bottom: 0%;

}

/*Menu*/

#menu {
    border: none;
    position: absolute;
    height: 100%;
    width: 4%;
    font-size: 2vw;
    text-align: center;
    background-color: black;
    color: white;

    right: 96%;
    bottom: 0%;
}

/*Iniciar o crear*/

#crear {
    position: absolute;
    width: 14%;
    height: 14%;
    padding: 0%;
    left: 26%;
    right: 60%;
    top: 38%;
    font-size: 2vw;
    z-index: 4;
    background-color: rgb(0, 29, 0);
    color: white;

}
#iniciar {
    position: absolute;
    width: 14%;
    height: 14%;
    padding: 0%;
    left: 60%;
    right: 26%;
    top: 38%;
    font-size: 2vw;
    z-index: 4;
    background-color: rgb(0, 29, 0);
    color: white;
}
/*Crear cuenta*/
/*Google y su infor*/
#go {
    width: 20%;
    position: absolute;
    left: 40%;
    right: 40%;
    top: 23%;
}

#info {
    font-size: 2vw;
    text-align: center;
    color: white;
    position: absolute;
    top: 1%;
    left: 30%;
    right: 30%;
}

.datos {
    font-size: 2vw;
    color: white;
    text-align: left;
    position: absolute;
    width: 80%;
    left: 10%;
    right: 10%;
    top: 48%;
}

#formulario {
    width: 50%;
    height: 100%;
    z-index: 3;
    background-color: white;
    position: absolute;
    top: 8%;
    right: 25%;
    left: 25%;
    background-color: rgb(5, 5, 38);
    border-radius: 10%;
}

/*Texto sobre las herramientas sobre IA's*/
#text {
    width: 100%;
    height: 100%;
}

#titulo {
    padding-top: 10%;
    margin: 0%;
    text-align: center;
    font-size: 220%;
    position: relative;
    height: 12%;
    width: 100%;
    left: 0%;
    bottom: 80%;
    color: blue;
    max-width: 100%;

}

#confort {
    text-align: center;
    font-size: 100%;
    position: relative;
    height: 6%;
    width: 100%;
    bottom: 70%;
    color: rgb(7, 0, 101);
}

#lista {
    position: relative;
    margin-top: 2%;
    margin-left: 6%;
    margin-right: 6%;
    width: 80%;
    right: 10%;
    left: 1%;
}

.image {
    width: 10%; 
    height: 10%; 
    border-radius: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.descripcion {
    padding-top: 5%;
    font-size: 100%;
    color: white;
    margin: 0%;
}
.link_and_subtitle {
    font-size: 100%;
    color: rgb(23, 176, 0);
    margin: 0%;
    padding: 0%;
}
